EXPO_PUBLIC_SUPABASE_URL=https://nplezzdywyqwoejuwkyu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wbGV6emR5d3lxd29lanV3a3l1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MTUwNzcsImV4cCI6MjA5OTQ5MTA3N30.VPTnlC9RTo__NMa4v0anwpp0ZOrce8m61PZQDcCCRec